apyori==1.1.2
Boruta==0.3
imbalanced_learn==0.10.1
imblearn==0.0
matplotlib==3.6.0
numpy==1.23.3
pandas==1.5.0
scikit_learn==1.2.0
scipy==1.9.1
seaborn==0.12.2
statsmodels==0.13.2
streamlit==1.14.1
tqdm==4.64.1
